<!DOCTYPE html>
<html>
  <head>
    <title>MyShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'landing' %>
  </head>

  <body>
    <div class='navbar-text navbar-right'>
      <%= link_to t('.home'), root_path, locale: I18n.locale %> |
      <% if current_user %>
        <b> <%= current_user.username %> </b> |
        <%= link_to t(".sign_out"), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t(".sign_in"), new_user_session_path, locale: I18n.locale %> |
        <%= link_to t(".sign_up"), new_user_registration_path, locale: I18n.locale %> |
      <% end %>
        <%= link_to EmojiFlag.new(:en), '/?locale=en' %> |
        <%= link_to EmojiFlag.new(:de), '/?locale=de' %> |
    </div>
    <%= yield %>

    <script type="text/javascript">
      if(window.i18n !== undefined) {
        window.i18n.locale = "<%= I18n.locale %>";
      }
    </script>
  </body>
</html>
